@tailwind base;
@tailwind components;
@tailwind utilities;

.custom {
  position: absolute !important;
}

.comment-form *::placeholder {
  @apply text-gray-600 !important;
}

.sidenav__custom {
  right: 100% !important;
}

.sidenav__custom {
  @apply text-right
}

.sidenav__custom.active {
  right: calc(100% - 300px) !important;
}

.menu-close__custom i {
  right: calc(100% - 360px) !important; 
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}
